<%- model_class = JobOffer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @job_offer.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @job_offer.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:budget) %>:</strong></dt>
  <dd><%= @job_offer.budget %></dd>
  <dt><strong><%= model_class.human_attribute_name(:detail) %>:</strong></dt>
  <dd><%= @job_offer.detail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expired_on) %>:</strong></dt>
  <dd><%= @job_offer.expired_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reqest_on) %>:</strong></dt>
  <dd><%= @job_offer.reqest_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>
  <dd><%= @job_offer.place %></dd>
  <dt><strong><%= model_class.human_attribute_name(:open_code) %>:</strong></dt>
  <dd><%= @job_offer.open_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:option) %>:</strong></dt>
  <dd><%= @job_offer.option %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @job_offer.state %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              job_offers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_job_offer_path(@job_offer), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_offer_path(@job_offer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
